<%= simple_form_for [outfit, message] do |f| %>
  <div class="d-flex mb-5">
    <%= f.input :content, placeholder: "Ask a question", required: true, label: false %>
    <%= f.button :submit, "Ask LLM", class: "main-button ms-4" %>
  </div>
<% end %>
