<div class="outfits-index">

  <h1>Outfits</h1>

  <div class="outfits-grid">
    <% 8.times do |i| %>
      <div class="outfit-card">
        <div class="image-box">
          Outfit <%= i + 1 %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="bottom-nav">
  <a href="#">🏠</a>
  <a href="#">➕</a>
  <a href="#">👤</a>
</div>

</div>
