<div class="container p-3">
  <h1>Pokeclo</h1>
  <p>Dashboard</p>

  <div class="horizontal-scroll">
    <% @items.each do |item| %>
      <div class="scroll-card product-card product-image ">
        <%= link_to item_path(item) do %>
          <%= cl_image_tag item.photo.key if item.photo.attached? %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
