.main-button {
  font-family: $body-font;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #222222;
  color: white;
  border: none;
  border-radius: 999px;
  padding: 8px 16px;
  font-weight: 600;
  font-size: px;

  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.session-page .form-actions {
  display: flex;
  justify-content: center;
}

.session-page .main-button {
  min-width: 140px;
}
