.product-card {
  width: 260px;
  background: #f5f5f5;
  padding: 20px;
  text-align: center;
}

.product-unique-card{
  border: 1px solid #b4b2b2;
}

.product-image img {
  width: 100%;
  object-fit: contain;
}

.product-title {
  margin: 12px 0 6px;
  font-size: 16px;
  font-weight: 600;
}

.product-subtitle {
  font-size: 12px;
  color: #777;
  margin-bottom: 12px;
}

.product-colors {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}

.color {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #ddd;
  cursor: pointer;
}

.color-gray {
  background: #ccc;
}

.color-green {
  background: #8f9a8a;
}
