.navbar-lewagon {
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 72px;
  padding-bottom: env(safe-area-inset-bottom);
  background: white;
  z-index: 1000;
}

/* Aba ativa */
.navbar-lewagon .navbar-brand.active {
  border-top: 3px solid #3f3f3f;
  padding-top: 6px;
}

/* navbar */
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.navbar-lewagon .navbar-brand {
  margin: 0;
}

.navbar-text{
  font-size: 8px;
  text-align: center;
}
